<% if (typeof success !== 'undefined' && success) { %>
    <div class="message message-success">
        <%= success %>
    </div>
<% } %>
<% if (typeof successMessage !== 'undefined' && successMessage) { %>
    <div class="message message-success">
        <%= successMessage %>
    </div>
<% } %>
<% if (typeof error !== 'undefined' && error) { %>
    <div class="message message-error">
        <%= error %>
    </div>
<% } %>
<% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
    <div class="message message-error">
        <%= errorMessage %>
    </div>
<% } %>
<% if (typeof warningMessage !== 'undefined' && warningMessage) { %>
    <div class="message message-warning">
        <%= warningMessage %>
    </div>
<% } %>
